{{> head }}

    {{> navbar }}

    <div class="row" align="center">
    	<div class="col-8">
    		<h1>ABOUT</h1>
    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo, lorem nec laoreet fermentum, nisl enim pretium purus, quis fringilla mauris lorem in lorem. Nullam pharetra semper vulputate. Phasellus ex mi, faucibus quis rhoncus ut, posuere vitae risus. Aenean vel rutrum augue. Quisque egestas accumsan sodales. Duis ut ultricies turpis, vitae placerat libero. Nunc lobortis luctus dapibus. Donec ac vulputate tellus. Curabitur feugiat justo vitae lectus tempor bibendum.</p>
    	</div>
    	<div class="col-4">
    		<img src="assets/img/wifi.png" style="width: 200px; height:160px" class="img-thumbnail">
    	</div>
    </div>

{{> footer}}